<form action="{{ url_for('signin') }}" method="POST">
    <div class="container">
    	<div class="col-md-offset-3 col-md-5">

      	<form class="form-signin">
        <h2 class="form-signin-heading"><center>Please sign in</center></h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
        <br>
        <label for="inputPassword" class="sr-only" >Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <br>
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in">
      </form>
      </div>
    </div> 

</form>